@font-face {
    font-family: brako;
    src: url("brankovic.ttf");
}
#image  {
    width: 400px;
    height: 400px;
    position: relative;
    top: 50%;
    left: 41%;
}
p   {
    text-align: center;
}
h1  {
    font-family: brako;
    text-align: center;
}
h2  {
    text-align: center;
    font-family: brako;
}

table   {
    text-align: center;
    background-color: lightslategray !important;
}

#title  {
    background-color: #d3d3d3;
}
ul   {
    font-style: italic;
}
td{
    font-style: italic;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background-color: cyan;
}